@import "bourbon";
// fonts
// color
$white: #fff;
$white-sec: #f1f1f1;
$black: #312e2b;
$black-input: #26211b;
$gray-dark: #8c8a88;
$gray-header: #666463;
$gray: #a7a6a2;
$gray-border: #e8e7e6;
$gray-focus: #dbd9d7;
$gray-ico: #a7a6a2;
$gray-content: #797776;
$light-gray: #f8f8f8;
$dark-blue:#005e94;
$light-blue: #608ba7;
// screen
$screen-xl: 1200px;
$screen-l: 992px;
$screen-m: 768px;
$screen-s: 600px;
$screen-xs: 480px;
//shadow
$shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);