input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit; }

form, menu, iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

ol, ul, dl, li, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: ''; }

* {
  outline: none; }

html {
  height: 100%; }
  html * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

body {
  min-height: 100%;
  font-size: 100%;
  background: #fff;
  color: #000;
  position: relative; }

header {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

article {
  display: block; }

aside {
  display: block; }

footer {
  display: block; }

time {
  display: block; }

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

p {
  margin: 0; }

a {
  text-decoration: none; }

.clearfix:after {
  clear: both; }

.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden; }

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.vfix {
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle; }

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #312e2b; }

body {
  background: #312e2b;
  font-size: 1.4rem; }

.time {
  font-size: 1.2rem;
  color: #a7a6a2; }

.container-main-component_0 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.layout-two-column-component_0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1080px;
  width: 100%; }

.layout-two-column-first_0 {
  width: 100%; }

.layout-two-column-second_0 {
  width: 100%; }

.main {
  padding: 15px;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.sidebar section {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px; }

.hidden {
  display: none; }

.forum-category-header {
  position: relative;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #f8f8f8;
  margin-bottom: 5px; }

.forum-category-header-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 15px;
  margin-bottom: 5px;
  color: #312e2b;
  font-weight: 600;
  font-size: 1.8rem;
  word-break: break-word; }

.header-ico {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  color: #a7a6a2;
  margin-left: auto; }

.header-ico-small {
  font-size: 1.8rem; }

.forum-thread {
  padding: 5px; }

.forum-thread-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.forum-thread-time {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.forum-thread-link {
  font-weight: 600;
  line-height: 1.2;
  color: #005e94;
  cursor: pointer;
  word-wrap: break-word;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 75%; }

.forum-thread-msg {
  color: #a7a6a2;
  font-weight: 600;
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: 400; }

.forum-thread-msg-ico {
  margin: 0 5px;
  font-size: 2rem; }

.section-header {
  position: relative;
  background-color: #f1f1f1;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.section-header-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #666463;
  padding: 13px 15px;
  font-size: 1.5rem;
  font-weight: 600; }

.section-ico {
  margin: 0 13px 0 0;
  font-size: 2.8rem;
  color: #8c8a88; }

.section-wrapper {
  padding: 15px; }

.border-bottom {
  border-bottom: 1px solid #e8e7e6; }

.section-link-wrap {
  margin-bottom: 5px; }
  .section-link-wrap:last-child {
    margin-bottom: 0; }

.section-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #666463; }

.section-link span {
  margin-left: 10px; }

.section-row {
  margin-bottom: 15px; }
  .section-row:last-child {
    margin-bottom: 0; }

.search {
  position: relative; }

.section-form {
  background-color: #f1f1f1; }

.section-form:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

.search input {
  width: 100%;
  height: 30px;
  padding: 5px 20px 5px 8px;
  color: #26211b;
  border: 1px solid #e8e7e6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease; }
  .search input:focus {
    border-color: #dbd9d7; }

.search button[type="submit"] {
  position: absolute;
  right: 20px;
  top: 0;
  width: 0px;
  height: 30px;
  border: none;
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .search button[type="submit"] i {
    font-size: 1.6rem;
    color: #a7a6a2;
    z-index: 1;
    position: relative; }

.select {
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  overflow-y: hidden; }

.select-ico {
  position: absolute;
  right: 20px;
  top: 7px;
  width: 0;
  height: 0;
  font-size: 1.6rem;
  color: #a7a6a2;
  vertical-align: middle;
  z-index: 0; }

.select select {
  position: relative;
  z-index: 1;
  padding: 5px 23px 5px 8px;
  color: #26211b;
  width: 100%;
  border: 1px solid #dbd9d7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 18px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.content-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.content-item {
  font-size: 1.3rem;
  color: #797776;
  margin-bottom: 10px; }

.content-title {
  font-weight: 600;
  word-wrap: break-word;
  color: #005e94; }

.content-author {
  color: #797776;
  font-weight: 600;
  font-size: 1.3rem; }

.content-time {
  display: inline-block; }

.membership {
  display: inline-block;
  margin: 0 3px;
  background-image: url(../images/membership.png);
  height: 14px; }

.platinum {
  background-position: -15px 0;
  width: 14px; }

.diamond {
  background-position: -29px 0;
  width: 15px; }

.tips-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 0;
  color: #666463; }
  .tips-item i {
    font-size: 1.8rem;
    margin-right: 15px;
    width: 14px;
    text-align: center;
    color: #8c8a88; }

.new-post i {
  color: #608ba7; }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .forum-thread-link {
    width: 80%; }
  .forum-thread-msg {
    width: 20%; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .main {
    padding: 30px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 960px) {
  .layout-two-column-first_0 {
    width: 70%;
    padding: 15px 8px; }
  .layout-two-column-second_0 {
    width: 30%;
    padding: 15px 8px; }
  .forum-thread-link {
    width: 78%; }
  .forum-thread-msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 10%; }
  .forum-thread-time {
    width: 12%; } }

/* Large Devices, Wide Screens */
