.hidden
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#loupe(viewBox="0 0 20 20")
			path(d="M20 18.41l-5.91-5.9a7.84 7.84 0 1 0-1.58 1.58l5.91 5.9zM.75 7.83a7.1 7.1 0 1 1 14.19.02A7.1 7.1 0 0 1 .75 7.83z")