extends includes/template

block title
	title index
block content
	include includes/svg
	.container-main.container-main-component_0
		.layout-two-column.layout-two-column-component_0
			.layout-two-column-first_0
				.main
					+cHeader('General Chess Discussion')
					ul.forum-thread
						+fThread-item('How to get FIDE document that proves that you\'re a titled player?', '11', '6 min ago')
						+fThread-item('This Site Will Soon Have 20 Million Members !', '24', '11 min ago')
						+fThread-item('How to think like a grand master', '11', '14 min ago')
					+cHeader('Chess Openings')
					ul.forum-thread
						+fThread-item('My QGA "logical move" trap strikes again!', '5', '9 min ago')
						+fThread-item('Caro v Sicilian', '38', '1 hr ago')
						+fThread-item('favourite unusual opening', '52', '5 hr ago')
					+cHeader('Game Analysis')
					ul.forum-thread
						+fThread-item('Philidor killer', '15', '8 hr ago')
						+fThread-item('http://www.chess.com/chessmentor/view_lesson?id=6416', '4', '13 hr ago')
						+fThread-item('Can anyone win or is this a draw?', '21', '14 hr ago')
					+cHeader('Game Showcase')
					ul.forum-thread
						+fThread-item('checkmate, checkmate, check - mate! ...and one more checkmate', '30', '1 hr ago')
						+fThread-item('Post your best miniatures here', '8680', '3 hr ago')
						+fThread-item('My best games', '6', '1 day ago')
					+cHeader('General Chess Discussion')
					ul.forum-thread
						+fThread-item('How to get FIDE document that proves that you\'re a titled player?', '11', '6 min ago')
						+fThread-item('This Site Will Soon Have 20 Million Members !', '24', '11 min ago')
						+fThread-item('How to think like a grand master', '11', '14 min ago')
					+cHeader('Chess Openings')
					ul.forum-thread
						+fThread-item('My QGA "logical move" trap strikes again!', '5', '9 min ago')
						+fThread-item('Caro v Sicilian', '38', '1 hr ago')
						+fThread-item('favourite unusual opening', '52', '5 hr ago')
					+cHeader('Game Analysis')
					ul.forum-thread
						+fThread-item('Philidor killer', '15', '8 hr ago')
						+fThread-item('http://www.chess.com/chessmentor/view_lesson?id=6416', '4', '13 hr ago')
						+fThread-item('Can anyone win or is this a draw?', '21', '14 hr ago')
					+cHeader('Game Showcase')
					ul.forum-thread
						+fThread-item('checkmate, checkmate, check - mate! ...and one more checkmate', '30', '1 hr ago')
						+fThread-item('Post your best miniatures here', '8680', '3 hr ago')
						+fThread-item('My best games', '6', '1 day ago')
					+cHeader('General Chess Discussion')
					ul.forum-thread
						+fThread-item('How to get FIDE document that proves that you\'re a titled player?', '11', '6 min ago')
						+fThread-item('This Site Will Soon Have 20 Million Members !', '24', '11 min ago')
						+fThread-item('How to think like a grand master', '11', '14 min ago')
					+cHeader('Chess Openings')
					ul.forum-thread
						+fThread-item('My QGA "logical move" trap strikes again!', '5', '9 min ago')
						+fThread-item('Caro v Sicilian', '38', '1 hr ago')
						+fThread-item('favourite unusual opening', '52', '5 hr ago')
					+cHeader('Game Analysis')
					ul.forum-thread
						+fThread-item('Philidor killer', '15', '8 hr ago')
						+fThread-item('http://www.chess.com/chessmentor/view_lesson?id=6416', '4', '13 hr ago')
						+fThread-item('Can anyone win or is this a draw?', '21', '14 hr ago')
					+cHeader('Game Showcase')
					ul.forum-thread
						+fThread-item('checkmate, checkmate, check - mate! ...and one more checkmate', '30', '1 hr ago')
						+fThread-item('Post your best miniatures here', '8680', '3 hr ago')
						+fThread-item('My best games', '6', '1 day ago')
					+cHeader('General Chess Discussion')
					ul.forum-thread
						+fThread-item('How to get FIDE document that proves that you\'re a titled player?', '11', '6 min ago')
						+fThread-item('This Site Will Soon Have 20 Million Members !', '24', '11 min ago')
						+fThread-item('How to think like a grand master', '11', '14 min ago')
					+cHeader('Chess Openings')
					ul.forum-thread
						+fThread-item('My QGA "logical move" trap strikes again!', '5', '9 min ago')
						+fThread-item('Caro v Sicilian', '38', '1 hr ago')
						+fThread-item('favourite unusual opening', '52', '5 hr ago')
					+cHeader('Game Analysis')
					ul.forum-thread
						+fThread-item('Philidor killer', '15', '8 hr ago')
						+fThread-item('http://www.chess.com/chessmentor/view_lesson?id=6416', '4', '13 hr ago')
						+fThread-item('Can anyone win or is this a draw?', '21', '14 hr ago')
					+cHeader('Game Showcase')
					ul.forum-thread
						+fThread-item('checkmate, checkmate, check - mate! ...and one more checkmate', '30', '1 hr ago')
						+fThread-item('Post your best miniatures here', '8680', '3 hr ago')
						+fThread-item('My best games', '6', '1 day ago')
					+cHeader('General Chess Discussion')
					ul.forum-thread
						+fThread-item('How to get FIDE document that proves that you\'re a titled player?', '11', '6 min ago')
						+fThread-item('This Site Will Soon Have 20 Million Members !', '24', '11 min ago')
						+fThread-item('How to think like a grand master', '11', '14 min ago')
					+cHeader('Chess Openings')
					ul.forum-thread
						+fThread-item('My QGA "logical move" trap strikes again!', '5', '9 min ago')
						+fThread-item('Caro v Sicilian', '38', '1 hr ago')
						+fThread-item('favourite unusual opening', '52', '5 hr ago')
					+cHeader('Game Analysis')
					ul.forum-thread
						+fThread-item('Philidor killer', '15', '8 hr ago')
						+fThread-item('http://www.chess.com/chessmentor/view_lesson?id=6416', '4', '13 hr ago')
						+fThread-item('Can anyone win or is this a draw?', '21', '14 hr ago')
					+cHeader('Game Showcase')
					ul.forum-thread
						+fThread-item('checkmate, checkmate, check - mate! ...and one more checkmate', '30', '1 hr ago')
						+fThread-item('Post your best miniatures here', '8680', '3 hr ago')
						+fThread-item('My best games', '6', '1 day ago')
			.layout-two-column-second_0
				.sidebar
					section
						h3.section-header
							a.section-header-link(href="javascript:void(0)") 
								i.section-ico.fa.fa-comments
								span Forums
								i.header-ico.header-ico-small.fa.fa-angle-right
						.section-wrapper
							.section-link-wrap
								a.section-link(href="javascript:void(0)")
									i.fa.fa-caret-right
									span Hot Topics
							.section-link-wrap
								a.section-link(href="javascript:void(0)")
									i.fa.fa-caret-right
									span Unanswered
						.section-wrapper.section-form
							.section-row
								.search
									form(action="#")
										input(type="text")
										button(type="submit")
											i.fa.fa-search
							.section-row
								.select
									i.select-ico.fa.fa-caret-down
									select(name="forum-select")
										option(value="0") --Category--  
										option(value="1") item1
										option(value="2") item2
					section
						h3.section-header
							span.section-header-link
								i.section-ico.fa.fa-comments
								span Most Recent
						.section-wrapper
							ul
								+fContent-item('How to get FIDE document that proves that you\'re a titled player?', 'Martin_Stahl', 'diamond', '6 min ago')
								+fContent-item('6/17/2017 - Queen To Queen', 'Melvinathome', 'platinum', '6 min ago')
								+fContent-item('People who DO NOT RESIGN in a lost position.', '42rick42', '', '7 min ago')
								+fContent-item('How to get FIDE document that proves that you\'re a titled player?', 'Martin_Stahl', 'diamond', '6 min ago')
								+fContent-item('6/17/2017 - Queen To Queen', 'Melvinathome', 'platinum', '6 min ago')
								+fContent-item('People who DO NOT RESIGN in a lost position.', '42rick42', '', '7 min ago')
								+fContent-item('How to get FIDE document that proves that you\'re a titled player?', 'Martin_Stahl', 'diamond', '6 min ago')
								+fContent-item('6/17/2017 - Queen To Queen', 'Melvinathome', 'platinum', '6 min ago')
								+fContent-item('People who DO NOT RESIGN in a lost position.', '42rick42', '', '7 min ago')
								+fContent-item('How to get FIDE document that proves that you\'re a titled player?', 'Martin_Stahl', 'diamond', '6 min ago')
					section
						h3.section-header
							span.section-header-link
								i.section-ico.fa.fa-info-circle
								span Forum Legend
						.section-wrapper.border-bottom
							ul.tips
								+fTips-item('', 'fa-comment', 'Following')
								+fTips-item('new-post', 'fa-comment', 'New Comments')
								+fTips-item('', 'fa-lock', 'Locked Topic')
								+fTips-item('', 'fa-thumb-tack', 'Pinned Topic')
						.section-wrapper
							.section-link-wrap
								a.section-link(href="javascript:void(0)")
									i.fa.fa-caret-right
									span Mark all topics as READ